nav.navigation
  .container
    ul.nav__list
      li.nav__item
        a(href='index.html').nav__link О компании
      li.nav__item
        a(href='services.html').nav__link Услуги
        +icon('arrow')
      li.nav__item
        a(href='works.html').nav__link Работы
      li.nav__item
        a(href='contacts.html').nav__link Контакты