include ../mixins/icons

doctype html
head
  include ../meta/common/head
body
  .wrapper
    include ../common/header
    include ../common/navigation


  script(src='assets/js/foundation.js' defer)
  script(src='assets/js/app.js' defer)
